mark {
    background: yellow;
    color: black;
}

.custom-container {
    max-width: 1800px;
}

.viewer-container {
    width: 90%;
    height: 90%;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bg {
    /* background-image: url("./assets/edgi_bg.jpg"); */
    width: 100%;
}

.outer-dropdown {
    display: flex;
    justify-content: right;
    margin-bottom: 5px;
}

.hover-pointer {
    cursor: pointer;
}